@{
    ViewData["Title"] = "Cadastro";
}


<div class="main-cadastro">

    <div class="text-center">
        <form class="form-cadastro">
            <i class="fas fa-address-card"></i>
            <h1 class="h3 mb-3 font-weight-normal">Cadastrar - se</h1>

            <label for="inputName" class="sr-only">Nome</label>
            <input type="text" id="inputName" class="form-control" placeholder="Nome" required autofocus>

            <label for="inputTelefone" class="sr-only">Telefone</label>
            <input type="tel" id="inputTelefone" class="form-control" placeholder="Telefone" required autofocus>

            <label for="inputEmail" class="sr-only">Endereço de email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de email" required>

            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>

        </form>

    </div>
</div>