* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background:url('../assets/background.jpg') no-repeat;
  background-position:center;
  background-size:cover;
 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgba(128, 128, 128,0.7);
  letter-spacing: 1px;
}

    .footer .text-white a {
        color: #1332bd;
        font-weight: 500;
    
    }


    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.form-login .form-signin {
    width: 100%;
    max-width: 450px;
    border: 1px solid red;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-20%,-50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.form-login .form-signin i{
    font-size:5em;
    margin-bottom:10px;
}
    .form-login .form-signin input[type="email"], .form-login .form-signin input[type="password"], button[type="submit"] {
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .form-login .form-signin input[type="email"], .form-login .form-signin input[type="password"] {       
        margin-bottom: 10px;
    }

    .form-login .form-signin .checkbox {
        display: flex;
        text-align: left;
        justify-content: left;
        margin-left:12%
    }


.nome-salao {
    width: 400px;
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    background-color: rgba(128, 128, 128,0.8);
    padding:10px;
}

.nome-salao i{
    font-size:5em;
    color: #fff;
    padding-left:20px;
}

    .nome-salao span{
        font-size: 2em;
        color: #fff;
        text-transform:uppercase;
        padding: 10px;
       
    }

.nome-salao p {
    text-align: left;
    padding-left:60px;
}
