@{
    ViewData["Title"] = "Main";
}

<style>

    h1 {
        margin-top:50px;
        text-align:center;
    }
    .footer {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-align: center;
    }
</style>

<div>
    <h1>Page Main</h1>
</div>
